<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/JS/walidacjaPozycjiZamowien.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();" >

        <!-- onsubmit="return validateForm();" -->


        <input type="hidden" name="IdZamowienieProdukt" value="<%= pozycjaZamowien.IdZamowienieProdukt  %>">

        <label for="Kupiec">Kupiec:<sup>*</sup></label>
        <select id="Kupiec" name="Zamowienie_IdZamowienie" required <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <option value="" selected>--- Wybierz kupca ---</option>

            <% if (formMode == 'showDetails') { %>
            <option selected value="<%= pozycjaZamowien.Zamowienie_IdZamowienie %>"
                label="<%= pozycjaZamowien.zamowienia.Imie + ' ' + pozycjaZamowien.zamowienia.Nazwisko %>"></option>
            <% } else if(formMode == 'edit'){ %>
            <option selected value="<%= pozycjaZamowien.Zamowienie_IdZamowienie %>"
                label="<%= pozycjaZamowien.zamowienia.Imie + ' ' + pozycjaZamowien.zamowienia.Nazwisko %>"></option>
            <% }else { %>
            <% for (let i=0; i<allZamowienia.length; i++) { let zamowienie = allZamowienia[i]; %>
            <option value="<%= zamowienie.IdZamowienie %>" label="<%= zamowienie.Imie + ' ' + zamowienie.Nazwisko %>">
            </option>
            </option>
            <% } %>
            <% } %>
        </select>
        <span id="errorKupiec" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Zamowienie_IdZamowienie'))) { %>
            <%= validationErrors.find(e => e.path.includes('Zamowienie_IdZamowienie')).message %>
            <% } %>
        </span>



        <label for="Produkt">Produkt:<sup>*</sup></label>
        <select id="Produkt" name="Produkt_IdProdukt" required <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
            <option value="" selected>--- Wybierz produkt ---</option>

            <% if (formMode == 'showDetails') { %>
            <option selected value="<%= pozycjaZamowien.Produkt_IdProdukt  %>"
                label="<%= pozycjaZamowien.produkty.Nazwa %>"></option>
            <% } else if(formMode == 'edit'){ %>
            <option selected value="<%= pozycjaZamowien.Produkt_IdProdukt %>"
                label="<%= pozycjaZamowien.produkty.Nazwa %>"></option>
            <% }else { %>
            <% for (let i=0; i<allProdukty.length; i++) { let produkt = allProdukty[i]; %>
            <option value="<%= produkt.IdProdukt %>" label="<%= produkt.Nazwa %>"></option>
            </option>
            <% } %>
            <% } %>
        </select>
        <span id="errorProdukt" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Produkt_IdProdukt'))) { %>
            <%= validationErrors.find(e => e.path.includes('Produkt_IdProdukt')).message %>
            <% } %>
        </span>




        <label for="Rabat">Rabat(%):</label>
        <input type="number" name="Rabat" id="Rabat" placeholder="np. 2" value="<%= pozycjaZamowien.Rabat %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorRabat" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Rabat'))) { %>
            <%= validationErrors.find(e => e.path.includes('Rabat')).message %>
            <% } %>
        </span>

        <label for="Ilosc">Ilość:<sup>*</sup></label>
        <input type="number" name="Ilosc" id="Ilosc" placeholder="np. 5" value="<%= pozycjaZamowien.Ilosc %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorIlosc" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Ilosc'))) { %>
            <%= validationErrors.find(e => e.path.includes('Ilosc')).message %>
            <% } %>
        </span>


        <% if (formMode == 'showDetails') { %>

        <label for="Email">Email kupca:<sup>*</sup></label>
        <input type="text" name="Email" id="Email" value="<%= pozycjaZamowien.zamowienia.Email %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span></span>

        <label for="NumerTel">Numer telefonu:</label>
        <input class="NumerTelNotRequaired" type="tel" name="NumerTel" id="NumerTel"
            value="<%= pozycjaZamowien.zamowienia.NumerTelefonu %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span></span>


        <label for="Kwota">Kwota(zł):<sup>*</sup></label>
        <input type="number" name="Kwota" id="Kwota" value="<%= pozycjaZamowien.zamowienia.Kwota %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span></span>

        <% } %>



        <% if (formMode == 'showDetails'){ %>
        <div class="section-buttons">
            <a href="/pozycjaZamowien/edit/<%=pozycjaZamowien.IdZamowienieProdukt%>"
                class="form-button-edit-detail">Edytuj</a>
        </div>
        <% }else { %>
        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
        <span id="errorsSummary" class="errors-text"></span>
        <% } %>

    </form>

    <div class="form-buttons">

        <% if (formMode != 'showDetails') { %>
        <a class="form-button-cancel" href="/pozycjaZamowien">Anuluj</a>
        <% } else { %>
        <a class="form-button-cancel" href="/pozycjaZamowien">Powrót</a>
        <% } %>
    </div>

</main>

<%- include('../../fragments/footer.ejs') %>