<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TomoTechShop-s18969</title>
    <link rel="stylesheet" href="/CSS/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

    <script type="application/javascript" src="/JS/validationCommon.js"></script>



</head>

<body>
    <header>
        <h1>TomoTechShop</h1>
        <img src="/Images/LogoBlack.PNG" alt="Images shows logo TomoTechShop">

    </header>
    <div class="widokLogowania">
        <% if(!loggedUser) { %>
        <div id="login">
            <h5>Logowanie</h5>
            <form method="post" action="/login" novalidate>
                <label for="loginEmail">Email:</label>
                <input type="Email" id="loginEmail" name="Email">

                <label for="loginPassword">Hasło:</label>
                <input type="password" id="loginPassword" name="password">

                <input class="button-add" type="submit" value="Zaloguj się">
                <span id="loginErrors"><%= loginError ? loginError : ''%></span>
            </form>
        </div>
        <% } else { %>
        <div> <span>Jesteś zalogowany jako: <%=loggedUser.Imie + " " + loggedUser.Nazwisko%></span>
        </div>
        <a class="list-actions-button-delete" href="/logout">Wyloguj się</a>
        <% } %>
    </div>
    <nav>
        <ul>
            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
            <li><a href="/produkty" class="<%= navLocation == 'produkt' ? 'active' : ''%>">Produkty</a></li>
            <% if(loggedUser) { %>
            <li><a href="/zamowienia" class="<%= navLocation == 'zamowienie' ? 'active' : ''%>">Zamówienia</a></li>
            <% } %>
            <% if(loggedUser) { %>
                <li><a href="/pozycjaZamowien" class="<%= navLocation == 'pozycjaZamowien' ? 'active' : ''%>">Pozycja
                    zamówień</a></li>
                <% } %>
        </ul>
    </nav>

   