<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/JS/walidacjaProduktu.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">


        <input type="hidden" name="IdProdukt" value="<%= produkt.IdProdukt %>">


        <label for="Nazwa">Nazwa:<sup>*</sup></label>
        <input type="text" name="Nazwa" id="Nazwa" placeholder="2-60 znaków" value="<%= produkt.Nazwa %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorNazwa" class="errors-text"></span>


        <label for="TypProduktu">Typ produktu:<sup>*</sup></label>
        <input type="text" name="TypProduktu" id="TypProduktu" placeholder="2-40 znaków"
            value="<%= produkt.TypProduktu %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorTypProduktu" class="errors-text"></span>

        <label for="Gwarancja">Gwarancja na okres(lata):<sup>*</sup></label>
        <input type="number" name="Gwarancja" id="Gwarancja" placeholder="np. 2" value="<%= produkt.Gwarancja %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorGwarancja" class="errors-text"></span>

        <label for="Cena">Cena(zł):<sup>*</sup></label>
        <input type="number" name="Cena" id="Cena" placeholder="np. 65" value="<%= produkt.Cena %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorCena" class="errors-text"></span>

        <label for="Kolor">Kolor:</label>
        <input type="text" name="Kolor" id="Kolor" placeholder="np. czerwony" value="<%= produkt.Kolor %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorKolor" class="errors-text"></span>

        <% if (formMode == 'showDetails') { %>
        <div class="section-buttons">
            <a href="/produkty/edit/<%=produkt.IdProdukt%>" class="form-button-edit-detail">Edytuj</a>
        </div>
        <% } %>
      
       

    </form>

        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
            <h2>
                Szczegóły pozycji zamówień
            </h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Rabat</th>
                        <th>Ilosc</th>
                        <th>Klient</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let p of produkt.zamowieniaProdukty) { %>
                    <tr>
    
                        <td><%= produkt.Nazwa %></td>
                        <td><%= p.Rabat %></td>
                        <td><%= p.Ilosc %></td>
                        <td><a href=""><%= p.zamowienia.Imie %> <%= p.zamowienia.Nazwisko %></a></td>

                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>


    <div class="form-buttons">
        <p id="errorsSummary" class="errors-text"></p>
        <% if (formMode != 'showDetails') { %>
        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
        <a class="form-button-cancel" href="/produkty">Anuluj</a>
        <% } else { %>
        <a class="form-button-cancel" href="/produkty">Powrót</a>
        <% } %>
    </div>

</main>

<%- include('../../fragments/footer.ejs') %>