<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Lista produktów</h2>
    <div class="lista">
        <table class="table-list">
            <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Typ produktu</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>


            <tbody>
                <% for (let produkt of produktList) { %>
                <tr>
                    <td><%= produkt.Nazwa %></td>
                    <td><%= produkt.TypProduktu %></td>
                    <td><%= produkt.Cena %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/produkty/details/<%=produkt.IdProdukt%>"
                                    class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="/produkty/edit/<%=produkt.IdProdukt%>"
                                    class="list-actions-button-edit">Edytuj</a></li>
                            <li><a href="/produkty/delete/<%=produkt.IdProdukt%>"
                                    class="list-actions-button-delete">Usuń</a></li>
                        </ul>
                    </td>
                </tr>
                <% } %>
            </tbody>

        </table>
    </div>
</main>

<p><a class="button-add" href="/produkty/add">Dodaj nową pozycję zamówień</a></p>

<%- include('../../fragments/footer.ejs') %>