<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/JS/walidacjaZamowienia.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

        <!-- onsubmit="return validateForm();" -->

        <input type="hidden" name="IdZamowienie" value="<%= zamowienie.IdZamowienie %>">

        <label for="Imie">Imie:<sup>*</sup></label>
        <input type="text" name="Imie" id="Imie" placeholder="2-40 znaków" value="<%= zamowienie.Imie %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorImie" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Imie'))) { %>
            <%= validationErrors.find(e => e.path.includes('Imie')).message %>
            <% } %>
        </span>

        <label for="Nazwisko">Nazwisko:<sup>*</sup></label>
        <input type="text" name="Nazwisko" id="Nazwisko" placeholder="2-60 znaków" value="<%= zamowienie.Nazwisko %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorNazwisko" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Nazwisko'))) { %>
            <%= validationErrors.find(e => e.path.includes('Nazwisko')).message %>
            <% } %>
        </span>

        <label for="Kwota">Kwota(zł):<sup>*</sup></label>
        <input type="number" name="Kwota" id="Kwota" placeholder="np. 666" value="<%= zamowienie.Kwota %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorKwota" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Kwota'))) { %>
            <%= validationErrors.find(e => e.path.includes('Kwota')).message %>
            <% } %>
        </span>

        <label for="Email">Adres email:<sup>*</sup></label>
        <input type="email" name="Email" id="Email" placeholder="np. nazwa@domeena.pl" value="<%= zamowienie.Email %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorEmail" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Email'))) { %>
            <%= validationErrors.find(e => e.path.includes('Email')).message %>
            <% } %>
        </span>

        <label for="NumerTel">Numer telefonu:</label>
        <input class="NumerTelNotRequaired" type="number" name="NumerTel" id="NumerTel" placeholder="np. 666777888"
            value="<%= zamowienie.NumerTelefonu %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorNumerNumerTel" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('NumerTel'))) { %>
            <%= validationErrors.find(e => e.path.includes('NumerTel')).message %>
            <% } %>
        </span>

        <label for="DataPrzyjecia">Data przyjęcia:<sup>*</sup></label>
        <input type="date" name="DataPrzyjecia" id="DataPrzyjecia" value="<%= zamowienie.DataPrzyjecia %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorDataPrzyjecia" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('DataPrzyjecia'))) { %>
            <%= validationErrors.find(e => e.path.includes('DataPrzyjecia')).message %>
            <% } %>
        </span>

        <label for="DataRealizacji">Data realizacji:<sup>*</sup></label>
        <input type="date" name="DataRealizacji" id="DataRealizacji" value="<%= zamowienie.DataRealizacji %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorDataRealizacji" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('DataRealizacji'))) { %>
            <%= validationErrors.find(e => e.path.includes('DataRealizacji')).message %>
            <% } %>
        </span>

        <% if (formMode == 'showDetails') { %>
        <div class="form-buttons">
            <a href="/zamowienia/edit/<%=zamowienie.IdZamowienie%>" class="form-button-edit-detail">Edytuj</a>
        </div>
        <% }else { %>
        <div class="form-buttons">
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
            <span id="errorsSummary" class="errors-text"></span>
        </div>
        <% } %>

    </form>


    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
    <h2>
        Szczegóły pozycji zamówień
    </h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Rabat</th>
                <th>Ilosc</th>
            </tr>
        </thead>
        <tbody>
            <% for (let z of zamowienie.zamowieniaProdukty) { %>
            <tr>

                <td><a href="/produkty/details/<%=z.produkty.IdProdukt%>"><%= z.produkty.Nazwa %></a></td>
                <td><%= z.Rabat %></td>
                <td><%= z.Ilosc %></td>

            </tr>
            <% } %>
        </tbody>
    </table>
    <% } %>


    <div class="form-buttons">
        <% if (formMode != 'showDetails') { %>
        <a class="form-button-cancel" href="/produkty">Anuluj</a>
        <% } else { %>
        <a class="form-button-cancel" href="/produkty">Powrót</a>
        <% } %>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>