<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Lista zamówień</h2>
        <div class="lista" >
        <table class="table-list">
            <thead>
                <tr>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Kwota</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>


            <tbody>
                <% for (let zamowienie of zamowienieList) { %>
                    <tr>
                        <td><%= zamowienie.Imie %></td>
                        <td><%= zamowienie.Nazwisko %></td>
                        <td><%= zamowienie.Kwota %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/zamowienia/details/<%=zamowienie.IdZamowienie %>" class="list-actions-button-details">Szczegóły</a></li>
                                <li><a href="/zamowienia/edit/<%=zamowienie.IdZamowienie %>" class="list-actions-button-edit">Edytuj</a></li>
                                <li><a href="/zamowienia/delete/<%=zamowienie.IdZamowienie %>" class="list-actions-button-delete">Usuń</a></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
                </tbody>
        </table>
        </div>
    </main>

    <p><a class="button-add" href="/zamowienia/add">Dodaj nową pozycję zamówień</a></p>


    <%- include('../../fragments/footer.ejs') %>
